@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Lexend+Tera:wght@100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

html{
    overflow-x: hidden;
}
.form-field {
    width: 490px !important;
    height: 55px !important;
    border-radius: 30px !important;
    padding: 0 25px !important;
}

.input-btn {
    width: 90px;
    height: 56px;
    border: none;
    border-radius: 30px;
    background-color: #0a58ca;
    color: white;
}
.set-btn {
    width: 48px !important;
    height: 48px !important;
    border-radius: 50% !important;
    border: none;
}
.right-set {
    align-items: center;
    margin-right: 100px;
}
.setting{
    margin: 0 auto;
    width: 86%;
}
.setting-down {
    
        justify-content: center;
        width: 90%;
        margin: 0 auto;
    }



.right-down-set {
    justify-content: space-around !important;
    gap: 20px !important;


}
.right-down-set input{
    width: 25px;
    height: 20px;
}
.right-down-set label{
    font-size: 22px !important;
    font-weight: bold;
}






.sec-4 {
    background-color: #ffece2;
    width: 100%;
    text-align: center;
    padding-bottom: 100px;
    padding-top: 60px;
    
}

.second-heading h2{
    color: #000000;
    font-size: 40px;
    margin-bottom: 40px;
    font-weight: 900px bold !important;
    padding-top: 60px;
}

.strength-cards {
    display: flex;
    justify-content: center;
    gap: 20px;
}

 {
    background-color: #99897e;
    padding: 15px;
    border-radius: 20px;
    text-align: center;
    box-shadow: 0px 4px 10px rgba(236, 218, 218, 0.1);
    border: 1px solid #F5DED1;
    
}

.card h3 {
    color: #023047;
    margin: 15px 0;
}
.second-heading {
    padding-bottom: 50px !important;
    padding-top: 20px !important;
}
.third-heading {
    padding-top: 150px !important;
   
}

.container-32 {
    padding-bottom: 150px !important;
}
.my-nav {
    border-bottom: #000000 !important;
}
.act-rt {
    margin-left: 200px !important;
    margin-right: 200px !important;
    padding-top: 50px !important;
}
.okay {
   
}
.last-faqs {
    background-color: #FAF7FC;
}